<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Quinta Fiambreria</title>

     <!-- Favicon -->
     <link rel="icon" href="./static/img/favicon.ico">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <nav>
             <!-- logo -->
            <div>
                <a href="/">La Quinta Fiambreria</a>
            </div>
                <!-- hipervínculo del menú -->
            <ul>
                <li><a href="#Popular">Nuestras Marcas</a></li>
                <li><a href="./templates/register.html">Registrarse</a></li>
                <li><a href="#">iniciar Sesión</a></li>
    
            </ul>
        </nav>
    </header>

    <!-- contenido -->
    <main>
         <!-- Banner Productos-->
        <section id="Banner-Productos">
            <div>
                <!-- Póster -->
                <div>
                    <img src="../static/img/Imag-La-Quinta.png" alt="La-Quinta-Fiambreria" width="100%">
                </div>
                <!-- Descripción -->
                <div>
                    <!-- Algo para recordar-->
                    <div>
                        <h2>Nuestros Inicios <span> (2000)<
                        /span></h2>
                        <p>Una empresa Familiar</p>
                    </div>

                    <!-- Descripción -->
                    <div>
                        <h3>Siguiendo la experiencia</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in mollitia incidunt tempora! Autem voluptates pariatur, maxime obcaecati consequatur laboriosam placeat modi ut facere impedit molestiae delectus, suscipit non reprehenderit?</p>
                </div>

                    <!-- Atendidos por sus propios dueños -->
                    <div>
                        <!-- Gabriel -->
                        <div>
                            <p><b>Gabriel - Experto en fiambres</b></p>
                            <p>Socio</p>
                            <div>
                                <label for="foto">Adjunte su foto: </label>
                                <input type="file">
                            </div>
                        </div>

                        <!-- Pablo -->
                        <div>
                            <p><b>Pablo - Experto en Quesos</b></p>
                            <p>Socio</p>
                            <div>
                                <label for="foto">Adjunte su foto: </label>
                                <input type="file">
                            </div>
                        </div>

                    
                    </div>
                </div>

                <!-- Descripción -->
                <div></div>
            </div>
         </section>

        <!-- Info de la película -->
        <section id="more-info">
            <div>
                <!-- División para más info de las películas -->
                <div>
                     <!-- Trailer -->
                    <div>
                        <h3>Ver Trailer</h3>
                        <!-- Ver vídeo de trailer -->
                        <iframe width="1583" height="570" src="https://www.youtube.com/embed/SvJwEiy2Wok" title="SUPER MARIO BROS La Película Tráiler Español Latino (2023)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>

                    <!-- Mas info -->
                    <div>
                        <!-- Lista de redes sociales -->
                        <div>
                            <ul>
                                <li><a href="" target="_blank">Facebook</a></li>
                                <li><a href="" target="_blank">Twiter</a></li>
                                <li><a href="" target="_blank">Instagram</a></li>
                                <li><a href="" target="_blank">Movie</a></li>
                            </ul>

                            <!-- Tabla de info -->
                            <table>
                                <!-- fila 1 -->
                                <tr>
                                    <td colspan="2">Nuestras Marcas</td>
                                    <!-- <td></td> -->
                                </tr>

                                <!-- fila 2 -->
                                <tr>
                                     <td><b>Quesos</b></td>
                                     <td>XXXXXXX</td>
                                </tr>
                               
                                <!-- fila 3 -->
                                <tr>
                                    <td><b>Fiambres</b></td>
                                        <td>XXXXXXX</td>
                                </tr>
                        
                                <!-- fila 4 -->
                                <tr>
                                    <td><b>Saláme</b></td>
                                    <td>XXXXXXXX</td>
                                </tr>
                            
                                <!-- fila 5 -->
                                <tr>
                                    <td><b>Jamones</b></td>
                                    <td>XXXXXXXXXX</td></tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer o Pie -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>

</html>