<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Quinta Fiambreria</title>
     <!-- Favicon -->
     <link rel="icon" href="./static/img/favicon.ico">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <!-- logo -->
            <div>
                <a href="/">La Quinta Fiambreria</a>
            </div>
            <!-- hipervínculo del menú -->
            <ul>
                <li><a href="#Popular">Nuestras Marcas</a></li>
                <li><a href="./register.html">Registrarse</a></li>
                <li><a href="#">iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- contenido -->
    <main>
        <!-- Formulario -->
        <section id="form"></section>

        <!-- Lista -->
        <section id="list"></section>
        
    </main>

    <!-- Footer o Pie -->
    <footer></footer>
</body>

</html>